body {
    font-family: Helvetica, sans-serif;
}

.button {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button--playback {
    position: absolute;
    top: calc(100% - 32px);
    left: 8px;
}

.button--submit {
    color: white;
    font-weight: bold;
    border-radius: 3px;
    background-color: green;
    height: 32px;
    padding: 0px 16px;
}

.textinput {
    height: 32px;
    border: 1px solid grey;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px 8px;
}

.textinput:focus {
    border: 1px solid green;
    outline: none;
}

.textinput--todotitle {
    margin-right: 8px;
}

.todo {
    animation-name: say-hello;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes say-hello {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}